* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.Application {
  background-color: #53B3CB  ;
  color: #0C090D ;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F15946;
  color: #0C090D;
  font-weight: bolder;
  padding: .5rem
}
body {
  font-family: Arial, sans-serif;
  background-color: #F9C22E;
  color: #0C090D;
}

.Pictures {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin: 10px;
  padding: 10px;
  background-color: #F15946;
  border: 1px solid black;
}
#quotes {
  font-style: italic;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section {
  padding: 20px;
}

#head {
  background-color: #0C090D;
  color: #F9C22E;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #F15946;
  color: #0C090D;
  display: flex;
  justify-content: center;
  align-items: center;
}